<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>

<body>
    <h2>Ismingizni jo'nating</h2>
    <form method="post" , action="/">
        <input type="text" name="name" placeholder="Ismingizni Kiriting" />
        <button type="submit">Send</button>
    </form>
    <hr>
    <div>
        <a href="/about">About Page</a>
    </div>
    <div>
        <a href="/contact">Contact Page</a>
    </div>
    <a href="/api/admin">Admin Haqida Malumot</a>
</body>

</html>